#error-message {
  display: none;
}
.col {
  width: 280px;
}
#card {
  width: 270px;
  border-radius: 8px;
}
#image-resize {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
}
#search-result {
  display: none;
}
#spinner-loading {
  display: none;
  width: 80px;
  height: 80px;
}
.spinner-center {
  display: flex;
  margin: 0 auto;
}
#result {
  color: tomato;
}

.title-color {
  color: #0d1b36;
}
.left-border {
  border-left: 4px solid orange;
}
